@model List<Trabahub.Models.Listing>
@if (ViewBag.Usertype == "Admin")
{
    <div class="admin-dashboard">
        <div class="d-flex flex-row gap-5 justify-content-end align-items-center pe-5 pt-3 pb-3">
            <label class="fs-5 text-success">Total Verified: @ViewBag.VerifiedCount</label>
            <label class="fs-5 text-warning">Total Pending: @ViewBag.PendingCount</label>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="text-center">Establishment Name</th>
                    <th class="text-center">Owner Username</th>
                    <th class="text-center">Listing Status</th>
                    <th class="text-center">Details</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null) {
                    @foreach (var listings in Model)
                    {
                        <tr>
                            <td class="text-center">@listings.ESTABNAME</td>
                            <td class="text-center">@listings.OwnerUsername</td>
                            <td class="text-center @(listings.ListingStatus == false ? "text-warning" : "text-success")">
                                @(listings.ListingStatus == false ? "Pending" : "Verified")
                            </td>
                            <td class="text-center">
                                <a asp-area=""
                                   asp-controller="Admin"
                                   asp-action="ListingDetails"
                                   asp-route-name="@listings.ESTABNAME" class="view-btn">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                }  
            </tbody>
        </table>
    </div>
}
else
{
    <script>
        window.location.href = '/Credentials/Login';
    </script>
}
