@model List<Trabahub.Models.Booking>

<div class="bookinglayer">
    @if (ViewBag.UserType == "Owner")
    {
        <table>
            <thead>
                <tr>
                    <th class="text-center">Establishment</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var bookings in Model)
                    {
                        <tr>
                            <td class="text-center">@bookings.ESTABNAME</td>
                            <td class="text-center">@bookings.Username</td>
                            <td class="text-center text-success">₱@bookings.PriceRate</td>
                            <td class="text-center">@bookings.STARTTIME</td>
                            <td class="text-center">@bookings.ENDTIME</td>
                            <td class="text-center">@bookings.SelectedOption</td>
                            <td class="text-center @(bookings.Status == "Active" ? "text-success" : bookings.Status == "Finished" ? "text-danger" : "")">@bookings.Status</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else if(ViewBag.UserType == "Admin")
    {
        <table>
            <thead>
                <tr>
                    <th class="text-center">Establishment</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var bookings in Model)
                    {
                        <tr>
                            <td class="text-center">@bookings.ESTABNAME</td>
                            <td class="text-center">@bookings.Username</td>
                            <td class="text-center text-success">₱@bookings.PriceRate</td>
                            <td class="text-center">@bookings.STARTTIME</td>
                            <td class="text-center">@bookings.ENDTIME</td>
                            <td class="text-center">@bookings.SelectedOption</td>
                            <td class="text-center @(bookings.Status == "Active" ? "text-success" : bookings.Status == "Finished" ? "text-danger" : "")">@bookings.Status</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

<script>
    $(document).ready(function () {
        // Trigger AJAX call when the details page is accessed
        $.ajax({
            url: '/Listing/UpdateCount',
            type: 'GET',
            success: function (response) {
                // Update the accommodation count on the page
                $('#accommodationCount').text(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>