@using Microsoft.Extensions.Options
@inject IOptions<Trabahub.Data.StripeSetting> Stripe
@model Listing
<div class="bookinglayer pt-3" id="bookinglayer">
    <div class="container">
        <div class="wrapper">
            <div class="row pb-4">
                <div class="col">
                    <div class="bookingheader border-0">
                        <label class="bnsheader border-0" style="background-color: transparent">@Model.ESTABNAME</label>
                    </div>
                </div>
            </div>
            <div class="bookingside">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label class="bfontbody">Select Date</label>
                        </div>
                    </div>
                    <div class="left pt-3">
                        <div class="calendar p-4">
                            <div class="month">
                                <svg class="fas fa-angle-left prev" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                                    <path d="M14.5 21.75L7.25 14.5L14.5 7.25" stroke="#33363F" stroke-width="3" />
                                    <path d="M21.75 21.75L14.5 14.5L21.75 7.25" stroke="#33363F" stroke-width="3" />
                                </svg>
                                <div class="date">January 2024</div>
                                <svg class="fas fa-angle-right next" xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                                    <path d="M14.5 21.75L21.75 14.5L14.5 7.25" stroke="#33363F" stroke-width="3" />
                                    <path d="M7.25 21.75L14.5 14.5L7.25 7.25" stroke="#33363F" stroke-width="3" />
                                </svg>
                            </div>
                            <div class="weekdays">
                                <div>S</div>
                                <div>M</div>
                                <div>T</div>
                                <div>W</div>
                                <div>T</div>
                                <div>F</div>
                                <div>S</div>
                            </div>
                            <div class="days"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="goto-today">
                                        <div class="goto">
                                            <input type="text" placeholder="mm/yyyy" class="date-input" />
                                            <button class="goto-btn">Go</button>
                                        </div>
                                        <button class="today-btn" id="todaybtn">Today</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right" style="display: none">
                        <div class="today-date">
                            <div class="event-day">wed</div>
                            <div class="event-date">12th december 2022</div>
                        </div>
                        <div class="events"></div>
                        <div class="add-event-wrapper">
                            <div class="add-event-header">
                                <div class="title">Add Event</div>
                                <i class="fas fa-times close"></i>
                            </div>
                            <div class="add-event-body">
                                <div class="add-event-input">
                                    <input type="text" placeholder="Event Name" class="event-name" />
                                </div>
                                <div class="add-event-input">
                                    <input type="text"
                                           placeholder="Event Time From"
                                           class="event-time-from" />
                                </div>
                                <div class="add-event-input">
                                    <input type="text"
                                           placeholder="Event Time To"
                                           class="event-time-to" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookingmain">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col text-start">
                                <label class="bfontbheader">Booking Details</label>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col text-start">
                                <label class="bfontbody" id="dynamicdate"></label>
                            </div>
                        </div>
                        <div class="text-start pt-3">
                            <div class="row">
                                <div class="col-5">
                                    <div class="btn-group mx-auto pt-3" style="width: 100%">
                                        <button type="button" id="priceDropdownBtn" class="btn-lg dropdown-toggle form-control" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                            Select Price Option
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-lg-end" id="priceDropdown">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <span class="form-control-static listingbody">Duration</span>
                                    <input class="form-control" type="text" name="duration" id="duration" readonly />
                                </div>
                                <div class="col-1">
                                    <input type="text" id="acctbox" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="text-start pt-3">
                            <div class="row">
                                <div class="col-5">
                                    <span class="form-control-static listingbody">Time In</span>
                                    <input class="form-control" type="time" name="timein" id="timein" />
                                </div>
                                <div class="col-5">
                                    <span class="form-control-static listingbody">Time Out</span>
                                    <input class="form-control" type="time" name="timeout" id="timeout" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col">
                        <a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Listing" asp-action="Details" asp-route-name="@Model.ESTABNAME" asp-route-image="@Model.ESTABIMAGEPATH">GO BACK</a>
                    </div>
                    <div class="col">
                        <a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;">BOOK NOW</a>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <form id="bookingForm" asp-action="Charge" asp-controller="Listing" asp-area="" method="post" asp-route-name="@Model.ESTABNAME">
                        <article class="mb-2">
                            <label id="amountLabel" class="detailsbody border-0 text-center">Amount: ₱</label>
                        </article>
                        <script id="payscript"
                                src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="@Model.ESTABNAME"
                                data-amount="">
                        </script>
                        <input type="hidden" id="stripePrice" name="stripePrice" value="">
                        <input type="hidden" id="stripeDescription" name="stripeDescription" value="@Model.ESTABNAME">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const timeInInput = document.getElementById('timein');
    const timeOutInput = document.getElementById('timeout');
    var countHours = 0;

    timeInInput.addEventListener('change', handleTimeChange);
    timeOutInput.addEventListener('change', handleTimeChange);

    function handleTimeChange() {
        calculateDuration();
    }

    function calculateDuration() {
        const timeInValue = timeInInput.value;
        const timeOutValue = timeOutInput.value;

        const timeIn = new Date('2000-01-01T' + timeInValue);
        const timeOut = new Date('2000-01-01T' + timeOutValue);

        const durationInMinutes = (timeOut - timeIn) / (1000 * 60);
        const durationInHours = Math.ceil(durationInMinutes / 60);
        countHours = durationInHours;

        const durationInput = document.getElementById('duration');

        let pricePerHour = @Model.ESTABHRPRICE;

        if (durationInHours <= 0) {
            durationInput.value = 'Please Select Appropriate Schedule';
        } else if (durationInHours === 1) {
            durationInput.value = durationInHours + ' Hour';
        } else {
            durationInput.value = durationInHours + ' Hours';
        }

        const selectedOption = document.getElementById("priceDropdownBtn").innerText.split(": ")[0];
        const selectedPrice = parseFloat(document.getElementById("priceDropdownBtn").innerText.split(": ₱")[1]);
        handleSelection(selectedOption, selectedPrice);
    }


    var prices = @Html.Raw(Json.Serialize(ViewBag.Prices));

    function clearInputFields() {
        $("input[name='timein']").val('');
        $("input[name='timeout']").val('');
        $("input[name='duration']").val('');
        $("label[id='amountLabel']").text('Amount ₱:');
    }

    Object.entries(prices).forEach(function ([option, price]) {
        var listItem = document.createElement("li");
        var button = document.createElement("button");
        button.className = "dropdown-item";
        button.type = "button";
        button.textContent = option + ": ₱" + price;
        button.onclick = function () {
            handleSelection(option, price);
            if (option === "Hourly Price") {
                clearInputFields();
            }
        };
        listItem.appendChild(button);
        document.getElementById("priceDropdown").appendChild(listItem);
    });

    function handleSelection(option, price) {
        if (option === "Hourly Price") {
            document.getElementById("priceDropdownBtn").innerText = option + ": ₱" + price;
            document.getElementById("amountLabel").textContent = "Amount: ₱ " + price * countHours;
            document.getElementById("payscript").setAttribute("data-amount", price * countHours);
            document.getElementById("stripePrice").setAttribute("value", price * countHours);
            console.log(document.getElementById("payscript"))
        } else {
            document.getElementById("amountLabel").textContent = "Amount: ₱ " + price;
            document.getElementById("priceDropdownBtn").innerText = option + ": ₱" + price;
            document.getElementById("payscript").setAttribute("data-amount", price);
            document.getElementById("stripePrice").setAttribute("value", price);
            console.log(document.getElementById("payscript"))
        }
    }
</script>

