@model Trabahub.Models.ListingDetails

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="detailslayer container">
	<div class="wrapper pt-5 mt-3">
		@*PRICE DESCRIPTION ADDRESS*@
		<div class="detailside">
			<form method="post">
				<img src="/img/@Model.Listing.ESTABIMAGEPATH" class="detailcover" asp-append-version="true" />
				<div class="pt-5 ps-5 pe-5">
					<div class="row">
						<div class="col">
							<label class="detailheader text-center border-0">@Model.Listing.ESTABNAME</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="detailsbody text-center border-0">@Model.Listing.ESTABDESC</label>
						</div>
					</div>
				</div>
				<div class="detailsidetwo">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="pricelabelid">Price Rates:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								@if (Model.Listing.ESTABHRPRICE.HasValue)
								{
									<label class="detailsbody">Hourly Price:</label>
									<span class="detailsbody">₱@Model.Listing.ESTABHRPRICE</span>
									<br />
								}
								@if (Model.Listing.ESTABDAYPRICE.HasValue)
								{
									<label class="detailsbody">Day Pass Price:</label>
									<span class="detailsbody">₱@Model.Listing.ESTABDAYPRICE</span>
									<br />
								}
								@if (Model.Listing.ESTABWKPRICE.HasValue)
								{
									<label class="detailsbody">Weekly Pass Price:</label>
									<span class="detailsbody">₱@Model.Listing.ESTABWKPRICE</span>
									<br />
								}
								@if (Model.Listing.ESTABMONPRICE.HasValue)
								{
									<label class="detailsbody">Yearly Pass Price:</label>
									<span class="detailsbody">₱@Model.Listing.ESTABMONPRICE</span>
								}
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="address">Address: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<label class="detailsbody border-0">@Model.Listing.ESTABADD</label>
							</div>
						</div>
					</div>
				</div>
				<div class="detailsidetwo pt-4">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="starrating">Ratings:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<input asp-for="Listing.ESTABRATING" class="detailsbody border-0" hidden disabled />
								<div class="stars mb-2" id="starlistings">
									<script>
										function generateStars(rating, containerId) {
											var starsHtml = '';

											var fullStars = Math.floor(rating);

											var hasHalfStar = rating % 1 >= 0.5;

											for (var i = 0; i < fullStars; i++) {
												starsHtml += '<img class="star-size" src="/res/star.png" alt="Filled Star" />';
											}

											if (hasHalfStar) {
												starsHtml += '<img class="star-size" src="/res/star-half.png" alt="Half Star" />';
											}

											for (var i = fullStars + (hasHalfStar ? 1 : 0); i < 5; i++) {
												starsHtml += '<img class="star-size" src="/res/starblank.png" alt="Empty Star" />';
											}

											document.getElementById(containerId).innerHTML = starsHtml;
										}
										$(document).ready(function () {
											var rating = parseFloat('@Model.Listing.ESTABRATING');
											var containerId = "starlistings";
											generateStars(rating, containerId);
										});
									</script>
								</div>
							</div>
						</div>
					</div>
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="start">Accommodation:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								@if (Model.Listing.ACCOMODATION <= 0)
								{
									<label class="detailserror border-0" style="color: red;">No Seats Left</label>
								}
								else
								{
									<label class="detailsbody border-0">@Model.Listing.ACCOMODATION.ToString()</label>
								}
							</div>
						</div>
					</div>
				</div>
				<div class="detailsidetwo pt-4">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="start">Opening Time:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<label class="detailsbody border-0">@Model.Listing.STARTTIME.ToString("hh:mm tt")</label>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="end">Closing Time: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<label class="detailsbody border-0">@Model.Listing.ENDTIME.ToString("hh:mm tt")</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-5 text-center">
		<div class="col">
			<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Listing" asp-action="Index">GO BACK</a>
		</div>
		<div class="col">
			@if (Model.Listing.ACCOMODATION <= 0) // Check if accommodation is 0 or less
			{
				<button class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;" disabled>BOOK NOW</button>
			}
			else
			{
				<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;" asp-area="" asp-controller="Listing" asp-action="Booking" asp-route-name="@Model.Listing.ESTABNAME">BOOK NOW</a>
			}
		</div>
	</div>

	<div class="commentwrapper mt-5">
		<div class="detailcomments">
			<label class="dbarheader ms-4">Comments</label>
			@foreach (var interaction in Model.Interactions)
			{
				<div class="commentcards">
					<label class="detailsbody">@interaction.Username</label>
					<div class="star-container" id="star-@interaction.InteractId"></div>
					<label class="detailsbody">@interaction.InteractComment</label>
					<script>
						$(document).ready(function () {
							var rating = parseFloat('@interaction.InteractRating');
							var containerId = "star-@interaction.InteractId";
							generateStars(rating, containerId);
						});
					</script>
				</div>
			}
		</div>
	</div>

</div>
