@model Listing
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="detailslayer container">
	<div class="wrapper pt-5 mt-3">
		@*PRICE DESCRIPTION ADDRESS*@
		<div class="detailside">
			<form method="post">
				<img src="/img/@Model.ESTABIMAGEPATH" class="detailcover" asp-append-version="true" />
				<div class="pt-5 ps-5 pe-5">
					<div class="row">
						<div class="col">
							<label class="detailheader text-center border-0">@Model.ESTABNAME</label>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label class="detailsbody text-center border-0">@Model.ESTABDESC</label>
						</div>
					</div>
				</div>
				<div class="detailsidetwo">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="pricelabelid">Price Rates:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								@if (Model.ESTABHRPRICE.HasValue)
								{
									<label class="detailsbody">Hourly Price:</label>
									<span class="detailsbody">₱@Model.ESTABHRPRICE</span>
									<br />
								}
								@if (Model.ESTABDAYPRICE.HasValue)
								{
									<label class="detailsbody">Day Pass Price:</label>
									<span class="detailsbody">₱@Model.ESTABDAYPRICE</span>
									<br />
								}
								@if (Model.ESTABWKPRICE.HasValue)
								{
									<label class="detailsbody">Weekly Pass Price:</label>
									<span class="detailsbody">₱@Model.ESTABWKPRICE</span>
									<br/>
								}
								@if (Model.ESTABYRPRICE.HasValue)
								{
									<label class="detailsbody">Yearly Pass Price:</label>
									<span class="detailsbody">₱@Model.ESTABYRPRICE</span>
								}
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="address">Address: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<label class="detailsbody border-0">@Model.ESTABADD</label>
							</div>
						</div>
					</div>
				</div>
				<div class="detailsidetwo pt-4">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="starrating">Ratings:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<input asp-for="ESTABRATING" class="detailsbody border-0" style="display:none" disabled />
								<div class="stars mb-2" id="starlistings">
									<script>
										function generateStars(rating, containerId) {
											var starsHtml = '';
											var fullStars = Math.floor(rating);
											var halfStar = rating % 1 !== 0;

											for (var i = 1; i <= 5; i++) {
												if (i <= fullStars) {
													starsHtml += '<img class="star-size" src="/res/star.png" alt="Filled Star" />';
												} else if (halfStar) {
													starsHtml += '<img class="star-size" src="/res/star-half.png" alt="Half Star" />';
													halfStar = false;
												} else {
													starsHtml += '<img class="star-size" src="/res/starblank.png" alt="Empty Star" />';
												}
											}
											document.getElementById(containerId).innerHTML = starsHtml;
										}

										$(document).ready(function () {
											var rating = parseFloat($('[name="ESTABRATING"]').val());
											var containerId = "starlistings";
											generateStars(rating, containerId);
										});
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="detailsidetwo pt-4">
					<div class="container ms-5">
						<div class="row">
							<div class="col ms-5 text-start">
								<label class="dbarheader" id="start">Opening Time:</label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ms-5">
								<label class="detailsbody border-0">@Model.STARTTIME.ToString("hh:mm tt")</label>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col text-start">
								<label class="dbarheader" id="end">Closing Time: </label>
							</div>
						</div>
						<div class="row">
							<div class="col text-start ">
								<label class="detailsbody border-0">@Model.ENDTIME.ToString("hh:mm tt")</label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-5 text-center">
		<div class="col">
			<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #F64646;" asp-area="" asp-controller="Listing" asp-action="Index">GO BACK</a>
		</div>
		<div class="col">
			<a class="dbuttonlbls text-white border-0 text-decoration-none" style="background-color: #3ECCB5;" asp-area="" asp-controller="Listing" asp-action="Booking" asp-route-name="@Model.ESTABNAME">BOOK NOW</a>
		</div>
	</div>
</div>