<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trabahub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="layouthead">
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light box-shadow" id="layoutnav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="WordLogo">
                    <img class="tralogo ms-5" src="https://i.ibb.co/WyDZdxC/trabahub-logo-1.png" alt="Trabahub logo" />
                    TRABAHUB
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-end me-5">
                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "Home" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "About" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "Community" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="Community" asp-action="Index">Community</a>
                        </li>
                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "Spaces" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="Spaces" asp-action="Index">Spaces</a>
                        </li>
                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "Contact Us" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="Contacts" asp-action="Index">Contact Us</a>
                        </li>
                        <li class="nav-item me-5 @(ViewData["ActivePage"] as string == "Login" ? "active" : "")">
                            <a class="nav-link navbar-fonts" asp-area="" asp-controller="Credentials" asp-action="Login" onclick="NavVision('HideNavs')">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/calendar.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/04b70af096.js" crossorigin="anonymous" asp-append-version="true"></script>
    <footer class="footer text-muted" id="layoutfoot">
        <div class="container">
            <p class="pt-3">&copy; 2024 - Trabahub</p>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
