@model Trabahub.Models.Credentials

<div class="profile-layer">
    <div class="profile-card border-2 border border-dark" style="border-radius: 20px;">
        <div class="row">
            <div class="col">
                <img src="~/res/profile-user.png" />
            </div>
        </div>

        <div class="profile-details mt-4">
            <div class="row">
                <div class="col">
                    <label class="bfontbody">User Type: @Model.UserType</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="bfontbody">Username: @Model.Username</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="bfontbody">Email: @Model.Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="bfontbody">Name: @Model.fName @Model.lName</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="bfontbody">Date Created: @Model.CreationDate.ToString("yyyy-MM-dd")</label>
                </div>
            </div>
            <div class="row" hidden>
                <div class="col">
                    <label class="bfontbody">@Model.VerificationCode</label>
                </div>
            </div>
            <div class="btn-group" role="group">
                <a asp-controller="Credentials" asp-action="Edit" asp-route-email="@Model.Email"
                   class="btn-sm btn-secondary mx-2" style="text-decoration:none">Edit</a>
            </div>
        </div>
    </div>
</div>
