@model Trabahub.Models.Credentials

<div class="profile-layer mt-5">
    <div class="profile-card border-2 border border-dark" style="border-radius: 20px;">
        <div class="row">
            <div class="col">
                <img src="~/res/profile-user.png" />
            </div>
        </div>
        <div class="profile-details mt-5">
            <div class="row">
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">User Type: <label class="bfontbody">@Model.UserType</label></></label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">Username: <label class="bfontbody">@Model.Username</label></label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">Email: <label class="bfontbody">@Model.Email</label></label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">Name: <label class="bfontbody">@Model.fName @Model.lName</label></label>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">Date Created: <label class="bfontbody">@Model.CreationDate.ToString("yyyy-MM-dd")</label></label>
                </div>
            </div>
            <div class="row mt-1" hidden>
                <div class="col">
                    <label class="bfontbody" style="font-weight: bold">@Model.VerificationCode</label>
                </div>
            </div>
            <div class="center-element mt-4" role="group">
                <a asp-controller="Credentials" asp-action="Edit" asp-route-email="@Model.Email"
                   class="btn-sm btn-success mx-2 text-center p-2" style="text-decoration:none; width: 150px">Edit</a>
            </div>
        </div>
    </div>
</div>
